.bar {
  background-color: #00529A;
	display: flex;
  padding: 0.5em;
  flex-flow: row nowrap;
  min-width: 100%;
}

.dateTime {
  color: white;
  margin-left: auto;
  margin-right: 1.5em;
}

.connection {
  margin-left: auto;
}

.headerLogo {
  height: 20px;
  width: 40px;
}

/* changes font size of header text on lower resolution screens */
@media only screen and (max-width: 450px) {

  .bar {
      font-size: 2vw;
  }

  .headerLogo {
    height: 4vw;
    width: 6vw;
  }
  
}

